:root {
  --univ-page-bg-color: #d8cfb1;
  --univ-page-txt-color: #38322c;
  --hdr-bg-default-color: #a48d6f;
  --hdr-bg-left-color: #5f3e29;
  --hdr-bg-right-color: var(--univ-page-bg-color);
  --hdr-txt-left-color: #5f3e29;
  --hdr-txt-right-color: #b7915d;
  --hdr-txt-color: #442a2a;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* maybe google fonts later ( TODO ) */
  background-color: var(--univ-page-bg-color);
  color: var(--univ-page-txt-color);
}

header h1 {
  background-color: var(--hdr-bg-default-color);
  /* For browsers that do not support gradients */
  background: radial-gradient(
    var(--hdr-bg-right-color),
    var(--hdr-bg-left-color)
  );
  color: var(--hdr-txt-color);
  text-align: center;
  padding: 25px;
  margin: 0px;
  font-size: 36pt;
  font-style: italic;
}

#search label {
  display: block;
  font-size: 25px;
}

#dogBreed {
  display: block;
  margin-top: 10px;
  width: 175px;
}

#searchBtn {
  display: block;
  margin-top: 10px;
  width: 183px;
}

button {
  display: block;
  margin: 2%;
  padding: 2%;
  background-color: #5f3e29;
  color: #a48d6f;
}

.dogImage {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

#history {
  margin-top: 5px;
}

#flexContainer {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.mainContainer {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px 350px;
  grid-template-areas:
    "dogImage1 dogImage2"
    "dogImage3 dogImage4";
}

.boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.imgContainer {
  border: solid 2px black;
  max-width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
}

.imgContainer a {
  max-width: 100%;
  height: 100%;
}

@media screen and (max-width: 576px) {
  #flexContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    column-gap: 3px;
  }
}

h2 {
  border: solid 2px red;
}
